/dist
/node_modules

/**/node_modules
/**/dist
/**/.env
/**/.env.local

.env
docker-compose.local.yml
.env.lunch.file

.idea

images/files

test.http
http-client.env.json
tes.json
package-lock.json
/**/package-lock.json
**/package-lock.json
#cache
/**/webprojnpm-cache